.underNav_Banner {
	color: blue;
	background-image: url(/src/assets/image/tacos.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	height: 80vh;
	padding-top: 30vh;
}
.first_H1 {
	font-size: 8rem;
}
.home_P {
	font-size: 4rem;
	color: white;
}
.home_Span {
	font-size: 4rem;
	color: red;
	font-weight: bold;
}
