/* Styles for Login Screen*/

.signUp_Div {
	/* 
	height: 100vh;
	width: 100vw; */
	display: flex;
	flex-direction: column;
}
.input_Area {
	background-color: white;
	/* padding: 25% 0; */
	width: 100vw;
	height: 70vh;
}
.food_Truck_2_Img_Div {
	align-self: center;
	margin-top: 1rem;
}
form {
	text-align: center;
	color: black;
}
h1 {
	font-size: 2.5rem;
	padding: 0.5rem 0;
	text-shadow: black 3px 3px 3px;

	color: white;
}

span {
	font-size: 1.8rem;
	padding: 2rem 0;
}
label {
	color: white;
	font-size: 2rem;
	text-shadow: black 3px 3px 3px;
}
.sign_Up-Button_Div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	margin-top: 10px;
	width: 10vw;
	font-size: 1.3rem;
}
h2 {
	margin-top: 10px;
	font-size: 2rem;
}
.user_Selector_Button {
	font-size: 2rem;
}
